{% extends 'BaseInicio/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1>Asignar Ciclo a {{ alumna.persona.nombre }} {{ alumna.persona.apellido }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="grado">Grado:</label>
            <select name="grado" id="grado" class="form-control">
                {% for grado in grados %}
                <option value="{{ grado.id }}" {% if grado.id == form.instance.grado.id %}selected{% endif %}>{{ grado.nombre_grado }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="year">Año:</label>
            {{ form.year }}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'asignacionciclo-list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
