{% extends 'BaseInicio/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="text-center">Asignar Grado al Docente</h2>
    
    <div class="col-md-6 offset-md-3">
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="username">Nombre de Docente</label>
                <input type="text" class="form-control" id="username" value="{{ user.first_name }}" disabled>
            </div>
            
            <div class="form-group">
                <label for="username">Apellido de Docente</label>
                <input type="text" class="form-control" id="username" value="{{ user.last_name }}" disabled>
            </div>

            <div class="form-group">
                <label for="grado">Seleccionar Grado</label>
                <select class="form-control" id="grado" name="grado">
                    <option value="">-- Selecciona un grado --</option>
                    {% for grado in grados_activos %}
                        <option value="{{ grado.id }}" {% if grado.id == user.id_ciclo %}selected{% endif %}>
                            {{ grado.nombre_grado }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}
