{% extends 'BaseInicio/base.html' %}
{% block content %}
<h2>Listado de Alumnas</h2>

<div class="form-group row">
    <div class="col-sm-4">
        <input type="text" id="search" class="form-control" placeholder="Buscar Alumna...">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Asignación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="alumna-list">
        {% for alumna in alumnas %}
        <tr>
            <td>{{ alumna.codigo }}</td>
            <td>{{ alumna.persona.nombre }}</td>
            <td>{{ alumna.persona.apellido }}</td>
            <td>{{ alumna.edad }}</td>
            <td>{{ alumna.asignacion }}</td>
            <td>
                <a href="{% url 'asignacionciclo-create' alumna.id %}" class="btn btn-success">Asignar</a>
                <a href="{% url 'alumna-edit' alumna.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'contacto-create' alumna.id %}" class="btn btn-info">Contactos</a>
                <a href="{% url 'calificaciones-alumna' alumna.id %}" class="btn btn-primary">Calificaciones</a>
                <a href="{% url 'alumna-desactivar' alumna.id %}" class="btn btn-danger">Desactivar</a>


            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("search").addEventListener("keyup", function() {
            var input = this.value.toLowerCase();
            var rows = document.querySelectorAll("#alumna-list tr");
            rows.forEach(row => {
                let codigo = row.querySelector("td:nth-child(1)").innerText.toLowerCase();
                let nombre = row.querySelector("td:nth-child(2)").innerText.toLowerCase();
                let apellido = row.querySelector("td:nth-child(3)").innerText.toLowerCase();
                row.style.display = (codigo.includes(input) || nombre.includes(input) || apellido.includes(input)) ? "" : "none";
            });
        });
    });
    
</script>
{% endblock %}
