{% extends 'BaseInicio/base.html' %}
{% block content %}

<h2>Editar Alumna</h2>

<form method="post">
    {% csrf_token %}
    
    <div class="card mb-4">
        <div class="card-header">
            <h3>Datos de la Persona</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    {{ persona_form.nombre.label_tag }}
                    {{ persona_form.nombre }}
                </div>
                <div class="col-md-4">
                    {{ persona_form.apellido.label_tag }}
                    {{ persona_form.apellido }}
                </div>
                <div class="col-md-4">
                    {{ persona_form.fecha_nacimiento.label_tag }}
                    {{ persona_form.fecha_nacimiento }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ persona_form.genero.label_tag }}
                    {{ persona_form.genero }}
                </div>
                <div class="col-md-8">
                    {{ persona_form.direccion.label_tag }}
                    {{ persona_form.direccion }}
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h3>Datos de la Alumna</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    {{ alumna_form.codigo.label_tag }}
                    {{ alumna_form.codigo }}
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h3>Asignación de Ciclo</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {{ asignacion_form.grado.label_tag }}
                    <input type="text" class="form-control-plaintext" value="{{ asignacion_form.instance.grado }}" readonly>
                </div>
                <div class="col-md-6">
                    <label for="id_year" class="form-label">Año:</label>
                    <input type="text" class="form-control-plaintext" value="{{ asignacion_form.year.value }}" readonly>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock %}
