{% extends 'BaseInicio/base.html' %}
{% block content %}
<div class="container mt-4">

<h2>Listado de Alumnas Inactivas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Asignación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for alumna in alumnas %}
        <tr>
            <td>{{ alumna.codigo }}</td>
            <td>{{ alumna.persona.nombre }}</td>
            <td>{{ alumna.persona.apellido }}</td>
            <td>{{ alumna.edad }}</td>
            <td>{{ alumna.asignacion }}</td>
            <td>
                <button  class="btn btn-success"  onclick="confirmActivate({{ alumna.id }}, '{{ alumna.persona.nombre }}')">Reactivar</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>
    function confirmActivate(id, nombre) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Estás a punto de reactivar la Alumna: " + nombre,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, reactivar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirige a la URL de activación del curso
                window.location.href = "{% url 'alumna-activar' 0 %}".replace(0, id);
            }
        })
    }
</script>
{% endblock %}
