{% extends 'BaseInicio/base.html' %}
{% load static %}

{% block content %}


<form method="GET">
    <div class="form-row">
        <div class="col">
            <input type="text" name="alumno" class="form-control" placeholder="Alumno">
        </div>
        <div class="col">
            <input type="text" name="curso" class="form-control" placeholder="Curso">
        </div>
        <div class="col">
            <input type="date" name="fecha" class="form-control">
        </div>
        <div class="col">
            <input type="text" name="ciclo" class="form-control" placeholder="Ciclo">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </div>
</form>



<div class="container mt-4">
    <h1>Listado de Calificaciones de Actividad</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Punteo</th>
                <th>Actividad</th>
                <th>Asignación de Ciclo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for calificacion in object_list %}
            <tr>
                <td>{{ calificacion.id }}</td>
                <td>{{ calificacion.descripcion }}</td>
                <td>{{ calificacion.punteo }}</td>
                <td>{{ calificacion.actividad }}</td>
                <td>{{ calificacion.asignacion_ciclo }}</td>
                <td>
                    <a href="{% url 'calificacionactividad-update' calificacion.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'calificacionactividad-delete' calificacion.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
